################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPAM.PlaywrightFW/EPAM.PlaywrightFW/obj
/EPAM.PlaywrightFW/.vs
/EPAM.PlaywrightFW/EPAM.PlaywrightFW.Common/obj
/.vs
/EPAM.PlaywrightFW/EPAM.PlaywrightFW/bin/Debug/net6.0
/EPAM.PlaywrightFW/EPAM.PlaywrightFW.Common/bin/Debug/net6.0
/EPAM.PlaywrightFW/packages
/EPAM.PlaywrightFW/UnitTestProject2/bin/Debug
/EPAM.PlaywrightFW/UnitTestProject2/obj/Debug
/EPAM.PlaywrightFW/EPAM.Playwright.Test/bin/Debug/net6.0
/EPAM.PlaywrightFW/EPAM.Playwright.Test/obj
/EPAM.PlaywrightFW/SpecFlowTestProject/bin/Debug/net6.0
/EPAM.PlaywrightFW/SpecFlowTestProject/obj
/EPAM.PlaywrightFW/EPAM.Playwright.Test/bin/Debug
/EPAM.Playwright.Test/bin/Debug
/EPAM.Playwright.Test/obj
/EPAM.PlaywrightFW/bin/Debug/net6.0
/EPAM.PlaywrightFW.Common/bin/Debug/net6.0
/EPAM.PlaywrightFW.Common/obj
/SpecFlowTestProject/bin/Debug/net6.0
/SpecFlowTestProject/obj
/packages
/UnitTestProject2/bin/Debug
/UnitTestProject2/obj/Debug
